
* {
    padding-left: 15px;
    padding-right: 15px;   
}
#top {
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 120px;
    width: auto

}

#body {
    display: flex;
    justify-content: space-evenly
}

span {
    display: flex;
    flex-direction: column;
    align-content: space-between
}

.side-menu{
    width: 200px;
    height: 50px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
    
}

main {
    display: flex;
    justify-content: flex-end
}

#home-image {
    height: auto;
    width: 65vw;
}

#search {
    display: flex;
    flex-direction: row
}

#search-form {
    height: 40px;
    width: 200px;
    border-style: inset
}

#search-button {
    height: 47px;
    width: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
    border: none;
    background-color: white;
}